/* Container */
.input-container-password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*  Wrapper for input and label */
.material-textfield-password {
  position: relative;
  display: inline-block;
  width: 100%; 
  margin-top: 20px;
}

/* / Input styles / */
.input-field-password {
  font-size: 1rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  width: 95%;
  color: gray;
  transition: border-color 0.2s ease-out;
 
}

/* / Input focus state / */
.input-field-password:focus {
  border-color: rgb(4, 139, 255);
}

/* / Label styles / */
.input-label-password{
  position: absolute;
  font-size: 1rem;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: gray;
  padding: 0 0.3rem;
  transition: 0.2s ease-out;
  pointer-events: none;
}

/* / Label moves up when input is focused or has value / */
.input-field-password:focus + .input-label-password,
.input-field-password:not(:placeholder-shown) + .input-label-password {
  top: -2px;
  left: 5px;
  font-size: 12px;
  color: rgb(4, 139, 255);
  font-weight: bold;
}

/* / Placeholder hidden when input is focused or has value / */
.input-field-password:focus::placeholder,
.input-field-password:not(:placeholder-shown)::placeholder {
  opacity: 0;
}


.input-field-password {
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    color: gray;
    transition: border-color 0.2s ease-out;
    
  }
  .div-sys-button-password{
    width: 306px;
    display: flex;
    padding: 19px;
    gap: 8px;
    justify-content: end;
    margin-top: 1%;
  }
  .select-password{
    appearance: none;

    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16'  xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
      no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
  
    padding-right: 2rem !important;
  }